@model Coffee

@{
    
    ViewData["Title"] = "Welcome to this Coffee Shop";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>


<a href="/Home/Reg" class="btn btn-primary">Register here</a>

